#title {
  text-align: center;
}

#h3_green {
  color: rgb(70, 117, 0);
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  text-align: center;
  border: black solid 1px;
  border-radius: 5px;
  box-shadow: 10px 10px 50px 0;
}

.letter {
  color: rgb(70, 117, 0);
  border: black solid 1px;
  padding: 40px 5px 40px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 3rem;
}

.letter_last3 {
  color: blue;
  border: black solid 1px;
  padding: 40px 5px 40px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 3rem;
}

body {
  background-color: rgb(225, 225, 225);
}

.letter-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.letter.active {
    color: transparent;
}

.letter.active .letter-img {
    opacity: 1;
}
.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#randomColorsBtn{
  padding: 20px 60px;
  font-size: 22px;
  font-weight: bold;
}

#x, #y, #z, #filler-gif, #btn-container {
    grid-row-start: 5;
}

#filler-gif {
    grid-column: 4 / 6; 
}

#filler-gif .letter{
    color: red !important; 
}
    

/* <img src="https://media1.giphy.com/media/v1.Y2lkPTZjMDliOTUyMmZlZnd2Mzd5aHBidGxsN2lsbHBjbzgxaWF2c3dxdGdocDI5bm5zNiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/YQitE4YNQNahy/source.gif"> */
